# Ignore temporary build files, dependencies, logs, and test output:
*.socket
# *.lock
*.sock
*.pid
*.log
*.jsonl
*.db
*.db-journal
*.sqlite
*.override.yml
*.tmp.yml
*.override.yaml
*.tmp.yaml
*.out
*.test
*.exe
*.dll
*.so
*.dylib
*.tmp
*.img
*.img.xz
*.img.gz
k3s.yaml
k3s-*.yaml
/*.zip
/coverage.*
__pycache__
venv
.venv
.env
.tmp
.nv
.eslintcache
/github

# Files created automatically by editors and/or operating systems:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.heartbeat
.glide
.idea
.project
.vscode
*.tmproj
*~
.goutputstream*
.c9revisions
.settings
.swp
.codex
.config
.local
.ssh
.kube

# Crash log files
crash.log
crash.*.log

# Node / frontend build artifacts
node_modules/
dist/
